.container-fluid{
    background-color: rgb(240, 235, 240);
}
.navbar-brand{
    font-family: "brush script MT";
}
.container{
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 40px;
    background-color: white ;
}
.container p{
    text-align: center;
    font-family: bold;
    padding-bottom: 30px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding-top: 40px;
}
.row {
    padding-top: 40px;
}
.kolom p {
    font-size: 40px;
    padding-top: 50px;
}
.foot{
    background-color: rgb(255, 255, 255);
}